<!DOCTYPE html>
<html>
<head>
<meta name="description", content="ERP">
<meta name="author", content="lybroman@hotmail.com">
<!--meta http-equiv="refresh" content="300"-->
{% for item in data %}
<title>{{ item.size }} - {{ item.purchase_index }}</title>
{% endfor %}
{% load static %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet", type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
<script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.js" %}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
tr:hover
{
	cursor:pointer;
}
</style>
<script>
$(document).ready(function(){
	 var t = $('#table_id').DataTable( {
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );
 
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
	
	$("#unit_price").change(function(evt){
			var re = /^[0-9]+.?[0-9]*$/;
			if (!re.test($("#unit_price").val()) || !re.test($("#amount").val()))
			{
				$("#total_price").val(-1)
			}
			else
			{
				$("#total_price").val(parseFloat($("#unit_price").val()) * parseFloat($("#amount").val()))
			}
			
		})
		
	$("#amount").change(function(evt){
		var re = /^[0-9]+.?[0-9]*$/;
		if (!re.test($("#unit_price").val()) || !re.test($("#amount").val()))
		{
			$("#total").val(-1)
		}
		else
		{
			$("#total_price").val(parseFloat($("#unit_price").val()) * parseFloat($("#amount").val()))
		}
		
	})
	
	$("tr").click(function(){
		var tdArr = $(this).children();
		for( var j = 0; j < tdArr.length; j++)
		{
			if(tdArr.eq(j).attr("key") == "#supplier")
			{
				$(tdArr.eq(j).attr("key")+' option').each(function(){
					if( $(this).val() == tdArr.eq(j).attr("data-src")){
						 $(this).attr('selected','selected')
					 }
					 else
					 {
						$(this).removeAttr('selected')
					 }
				});
			}
			else
			{
				$(tdArr.eq(j).attr("key")).val(tdArr.eq(j).attr("data-src"))
			}
		}
	})
})
</script>
</head>
<body class="grey-scale">
	<div class="fixed_header">
		<nav class="navbar navbar-default navbar-custom" role="navigation">
		   <div class="navbar-header">
			  <a class="navbar-brand" href="#">ERP</a>
			  <br/>
		   </div>
				<ul class="nav navbar-nav navbar-right smooth-scroll">
				   <li><a href="#Home"><i class="fa fa-home fa-lg spacer"></i>Home</a></li>
				   <li><a href="/ERP/login/"><i class="fa fa-sign-in fa-lg spacer"></i>Log-in</a></li>
				   <li><a href="\ERP\logout\><i class="fa fa-sign-out fa-lg spacer"></i>Log-out</a></li>
				   <li><a href="\ERP\message\"><i class="fa fa-warning fa-lg spacer"></i>Messages</a></li>
				   <li><a href="\ERP\request\"><i class="fa fa-file-text fa-lg spacer"></i>Request</a></li>
				   <li style="visibility:hidden"><a href=""><i class="spacer"></i> </a></li>
				</ul>
		</nav>
	</div>
	<div class="form-wrapper">
		<table class="table" id="table_id">
            {% for item in data %}
		   <caption>{{ item.size }}-{{ item.purchase_index }} 明细</caption>
            {% endfor %}
		   <thead>
			  <tr>
				 <th>序号</th>
                  <th>名称</th>
				 <th>规格</th>
                  <th>采购编号</th>
                  <th>日期</th>
                  <th>入库批次</th>
				 <th>供应商</th>
                  <th>单价</th>
				 <th>数量</th>
                  <th>总价</th>
				 <th>品质</th>
				 <th>备注</th>
			 </tr>
		   </thead>
		   <tbody>
			 {% for item in data %}
				<tr class="success">
					 <td key="#purchase_id" data-src="{{ item.purchase_id }}">{{ item.index }}</td>
                     <td key="#size" data-src="{{ item.size }}">{{ item.size }}</td>
                    <td key="#purchase_name" data-src="{{ item.purchase_name }}">{{ item.purchase_name }}</td>
					 <td key="#purchase_index" data-src="{{ item.purchase_index }}">{{ item.purchase_index }}</td>
                     <td key="#purchase_date" data-src="{{ item.purchase_date }}">{{ item.purchase_date }}</td>
                     <td key="#storage_no" data-src="{{ item.storage_no }}">{{ item.storage_no }}</td>
					 <td key="#supplier" data-src="{{ item.supplier }}">{{ item.supplier }}</td>
                     <td key="#unit_price" data-src="{{ item.unit_price }}">{{ item.unit_price }}</td>
					 <td key="#amount" data-src="{{ item.amount }}">{{ item.amount }}</td>
                     <td key="#total_price" data-src="{{ item.total_price }}">{{ item.total_price }}</td>
					 <td key="#quality" data-src="{{ item.quality }}">{{ item.quality }}</td>
					 <td key="#comment" data-src="{{ item.comment }}">{{ item.comment }}</td>
				</tr>
			 {% endfor %}
		   </tbody>
		</table>
	<div class="form-wrapper">
		<form class="form-inline" role="form" id="storage_capital" action="/ERP/purchase/detail/{{ category }}/{{ size }}/{{ target_user }}/" enctype="multipart/form-data" method="post" target="_parent">
			<div class="sub-wrapper">
				<div class="form-group" style="display:none">
				  <label for="name">purchase_id</label>
				  <input type="text" class="form-control" name="purchase_id"  id="purchase_id"
					 placeholder="purchase_id" value="">
				</div>
				<div class="form-group" style="display:none">
				  <label for="target_user">target_user</label>
				  <input type="text" class="form-control" name="target_user"  id="target_user"
					 placeholder="target_user" value="{{ target_user }}">
				</div>
				<div class="form-group">
				  <label for="name">名称</label>
				  <input type="text" class="form-control" name="size"
					 placeholder="请输入名称" value="{{ item.size }}" id="size" readonly>
			   </div>
			   <div class="form-group">
				  <label for="name">采购编号</label>
				  <input type="text" class="form-control" name="purchase_index"
					 placeholder="CGXXXXXX" value="" id="purchase_index" readonly>
			   </div>
				<div class="form-group">
				  <label for="name">日期</label>
				  <input type="date" class="form-control" name="purchase_date" 
					 placeholder="请输入日期" value="" id="purchase_date" readonly>
			   </div>
                <div class="form-group">
				  <label for="name">规格</label>
				  <input type="text" class="form-control" name="purchase_name"
					 placeholder="请输规格" value="" id="purchase_name" readonly>
			   </div>
				<div class="form-group">
				  <label for="name">入库批次</label>
				  <input type="text" class="form-control" name="storage_no" 
					 placeholder="请输入库批次" value="" id="storage_no" readonly>
			   </div>
			    <div class="form-group">
				   <label for="name">供应商</label><br>
				   <select class="form-control" name="supplier" id="supplier" readonly>
						{% for sp in supplier_list %}
							<option>{{ sp }}</option>
						{% endfor %}
					</select>
				</div>
			   <div class="form-group">
				  <label for="name">单价</label>
				  <input type="text" class="form-control" name="unit_price" 
					 placeholder="请输入单价" value="" id ="unit_price" readonly>
			   </div>
			    <div class="form-group">
				  <label for="name">数量</label>
				  <input type="text" class="form-control" name="amount" 
					 placeholder="请输入数量" value="" id ="amount" readonly>
			   </div>
			    <div class="form-group">
				  <label for="name">总价</label>
				  <input type="text" class="form-control" name="total_price" 
					 placeholder="请输入总价" value="" id ="total_price" readonly>
			   </div>
			    <div class="form-group">
				  <label for="name">品质</label>
				  <input type="text" class="form-control" name="quality" 
					 placeholder="请输入品质" value="" id ="quality" readonly>
			   </div>
			    <div class="form-group">
				  <label for="name">备注</label>
				  <input type="text" class="form-control" name="comment" 
					 placeholder="请输入备注" value="" id ="comment" readonly>
			   </div>
			   <br><br>
            </div>
		</form>
	</div>

</body>
</html>