<!DOCTYPE html>
<html>
<head>
<meta name="description", content="ERP">
<meta name="author", content="lybroman@hotmail.com">
<!--meta http-equiv="refresh" content="300"-->
<title>CHECK - {{ target_user }}</title>
{% load static %}
{% load staticfiles %}
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet", type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
<script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables_threshold.js" %}"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
tr:hover
{
	cursor:pointer;
}
</style>
<script>
$(document).ready(function(){

     var t0 = $('#sortTable').DataTable( {
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );

    t0.on( 'order.dt search.dt', function () {
        t0.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

	$("tr").click(function(){
		var tdArr = $(this).children();
		for( var j = 0; j < tdArr.length; j++)
		{
			$(tdArr.eq(j).attr("key")).val(tdArr.eq(j).attr("data-src"))
		}
	})
})
</script>
</head>
<body class="grey-scale">
	<div class="fixed_header">
		<nav class="navbar navbar-default navbar-custom" role="navigation">
		   <div class="navbar-header">
			  <a class="navbar-brand" href="#">ERP</a>
			  <br/>
		   </div>
				<ul class="nav navbar-nav navbar-right smooth-scroll">
				   <li><a href="#Home"><i class="fa fa-home fa-lg spacer"></i>Home</a></li>
				   <li><a href="/ERP/login/"><i class="fa fa-sign-in fa-lg spacer"></i>Log-in</a></li>
				   <li><a href="\ERP\logout\><i class="fa fa-sign-out fa-lg spacer"></i>Log-out</a></li>
				   <li><a href="\ERP\message\"><i class="fa fa-warning fa-lg spacer"></i>Messages</a></li>
				   <li><a href="\ERP\request\"><i class="fa fa-file-text fa-lg spacer"></i>Request</a></li>
				   <li style="visibility:hidden"><a href=""><i class="spacer"></i> </a></li>
				</ul>
		</nav>
	</div>
	<div class="form-wrapper">
		<table class="table" id="sortTable">
		   <caption>预警值设置</caption>
		   <thead>
			  <tr>
				 <th>序号</th>
				 <th>品名规格</th>
				 <th>供应商</th>
				 <th>库存</th>
                 <th>预警值</th>
			  </tr>
		   </thead>
		   <tbody>
			 {% for item in data %}
				<tr class="success">
					 <td key="#name" data-src="{{ item.name }}">{{ item.No }}</td>
					 <td key="#name" data-src="{{ item.name }}">{{ item.name }}</td>
					 <td key="#supplier" data-src="{{ item.supplier }}">{{ item.supplier }}</td>
					 <td key="#inventory" data-src="{{ item.inventory }}">{{ item.inventory }}</td>
                     <td key="#threshold" data-src="{{ item.threshold }}">{{ item.threshold }}</td>
				</tr>
			 {% endfor %}
		   </tbody>
		</table>
	<div class="form-wrapper">
		<form class="form-inline" role="form" id="storage_capital" action="/ERP/storage_source_threshold/{{ target_user }}/" enctype="multipart/form-data" method="post" target="_parent">
			<div class="sub-wrapper">
				<div class="form-group" style="display:none">
				  <label for="name">uuid</label>
				  <input type="text" class="form-control" name="uuid"  id="uuid"
					 placeholder="uuid" value="">
				</div>
				<div class="form-group" style="display:none">
				  <label for="target_user">target_user</label>
				  <input type="text" class="form-control" name="target_user"  id="target_user"
					 placeholder="target_user" value="{{ target_user }}">
				</div>
			   <div class="form-group">
				  <label for="name">品名规格</label>
				  <input type="text" class="form-control" name="name"
					 placeholder="请输入品名规格" value="" id="name" required>
			   </div>
			   <div class="form-group">
				  <label for="name">供应商</label>
				  <input type="text" class="form-control" name="supplier"
					 placeholder="请输入供应商" value="" id="supplier" required>
			   </div>
			   <div class="form-group">
				  <label for="name">库存</label>
				  <input type="text" class="form-control" name="inventory"
					 placeholder="请输入库存" value="" id ="inventory" required>
			   </div>
                <div class="form-group">
				  <label for="name">预警值</label>
				  <input type="text" class="form-control" name="threshold"
					 placeholder="请输入预警值" value="" id ="threshold" required>
			   </div>
			   <br>
                </div>
			<button type="submit" class="btn btn-primary" name="operation" value="update">设置</button>
		</form>
	</div>

</body>
</html>