<!DOCTYPE html>
<html>
<head>
<meta name="description", content="ERP">
<meta name="author", content="lybroman@hotmail.com">
<!--meta http-equiv="refresh" content="300"-->
<title>SOURCE IN - {{ target_user }}</title>
{% load static %}
{% load staticfiles %}
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet", type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<!---script type="text/javascript" src="{% static "js/jquery-latest.js" %}"></script--->
<script type="text/javascript" src="{% static "js/jquery.tablesorter.js" %}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
<script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.js" %}"></script>
<script>
$(document).ready(function(){
	 var t0 = $('#sortTable').DataTable( {
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );

    t0.on( 'order.dt search.dt', function () {
        t0.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

})
</script>
</head>
<body class="grey-scale">
	<div class="fixed_header">
		<nav class="navbar navbar-default navbar-custom" role="navigation">
		   <div class="navbar-header">
			  <a class="navbar-brand" href="#">ERP</a>
			  <br/>
		   </div>
				<ul class="nav navbar-nav navbar-right smooth-scroll">
				   <li><a href="\ERP\storage_main\{{ target_user }}"><i class="fa fa-home fa-lg spacer"></i>Home</a></li>
				   <li><a href="\ERP\login\"><i class="fa fa-sign-in fa-lg spacer"></i>Log-in</a></li>
				   <li><a href="\ERP\logout\><i class="fa fa-sign-out fa-lg spacer"></i>Log-out</a></li>
				   <li><a href="\ERP\message\"><i class="fa fa-warning fa-lg spacer"></i>Messages</a></li>
				   <li><a href="\ERP\request\"><i class="fa fa-file-text fa-lg spacer"></i>Request</a></li>
				   <li style="visibility:hidden"><a href=""><i class="spacer"></i> </a></li>
				</ul>
		</nav>
	</div>
	<div class="form-wrapper">
		<table class="table" id="sortTable">
		   <caption>{{ category }} 原料入库统计</caption>
		   <thead>
			  <tr>
				 <th>序号</th>
                  <th>原料类别</th>
				 <th>日期</th>
				 <th>入库编号</th>
				 <th>入库物品名称</th>
                  <th>规格</th>
				 <th>供应商</th>
				 <th>单价</th>
				 <th>数量</th>
				 <th>总价</th>
                  <th>是否确认入库</th>
			  </tr>
		   </thead>
		   <tbody>
			 {% for item in data %}
					<tr class="success item">
						 <td key="#delivery_id" data-src= "{{ item.index }}">{{ item.index }}</td>
                         <td key="#category" data-src="{{ item.category }}">{{ item.category }}</td>
						 <td key="#update_date" data-src="{{ item.update_date }}">{{ item.update_date }}</td>
						 <td key="#No" data-src="{{ item.No }}">{{ item.No }}</td>
						 <td key="#item" data-src="{{ item.item }}">{{ item.item }}</td>
                         <td key="#item_size" data-src="{{ item.item_size }}">{{ item.item_size }}</td>
						 <td key="#supplier" data-src="{{ item.supplier }}">{{ item.supplier }}</td>
						 <td key="#price" data-src="{{ item.price }}">{{ item.price }}</td>
						 <td key="#amount" data-src="{{ item.amount }}">{{ item.amount }}</td>
						 <td key="#total_price" data-src="{{ item.total_price }}">{{ item.total_price }}</td>
                         <td key="#is_stored" data-src="{{ item.is_stored }}">
                             <a href="/ERP/storage/source_in_stored_confirm/{{ category }}/{{ item.purchase_id }}/{{ target_user }}/">{{ item.is_stored }}</a>
                             <a href="/ERP/storage/source_in_stored_cancel/{{ category }}/{{ item.purchase_id }}/{{ target_user }}/">{{ item.is_stored2 }}</a>
                         </td>
				  </tr>
			 {% endfor %}
		   </tbody>
		</table>
</div>
</body>
</html>